<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.4.1" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.2" targetFramework="net45" requireReinstallation="True" />
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.2.0" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="NMemory" version="1.0.0-beta9" targetFramework="net45" requireReinstallation="True" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2879" targetFramework="net45" />
  <package id="RavenDB.Database" version="2.5.2879" targetFramework="net45" />
  <package id="RavenDB.Embedded" version="2.5.2879" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.89.0" targetFramework="net45" requireReinstallation="True" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="2.1.0.3" targetFramework="net45" />
</packages>